@charset "UTF-8";
/* CSS Document */

body {
	background-color: #57b7df;
	background-image: url("tile.png");
}
p, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
}
p {
	color: #444;
	margin: 20px 30px;
}
a {
	color: #57b7df;
	margin: 20px 0px;
	text-decoration: none;
}
a:hover {
	color: #FCBA63;
}
h1 {
	background-image: url("betascape-logo.png");
	background-repeat: no-repeat;
	width: 510px;
	height: 165px;
	margin: 15px 30px 30px 30px;
	text-indent: -9999px;
	float: left;
}
h2 {
	color: #d67f2a;
	font-size: 22px;
	background-color: #FCBA63;
	background-image: url("white_triangle.png");
	background-position: top right;
	background-repeat: no-repeat;
	width: 645px;
	padding: 10px 0px 8px 55px;
	margin: 20px 0px 20px -40px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	padding: 5px 0px 5px 30px;
	color: #008ab3;
	background-color: #ace3fa;
	background-image: url("white_triangle.png");
	background-position: top right;
	background-repeat: no-repeat;
	width: 550px;
	margin-bottom: 15px;
	cursor: hand;
	cursor: pointer;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	padding: 5px 0px 5px 30px;
	color: #444;
}
h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	padding: 20px 0px 5px 45px;
	color: #444;
}
hr {
	margin-top: 30px;
	border: solid 1px #e1e1e1;
}
h2 + img {
	margin: -20px 0px 0px -40px;
	float: left;
}
#main_container {
	margin: 0px auto;
	background-image: url("background_shadow.png");
	background-position: center;
	background-repeat: repeat-y; 
}
#header {
	position: relative;
	height: 200px;
}
#header p {
	color: #828282;
	position: absolute;
	bottom: 5px;
	left: 555px;
	width: 345px;
}
#header p, #header a {
	font-size: 22px;
}
#content {
	width: 960px;
	margin: 0px auto;
	padding: 20px 0px 5px 0px;
	background-color: #fff;
}
#menu {
	margin: 20px 0px 40px 30px;
	clear: both;
}
#menu a {
	background-color: #FCBA63;
	background-image: url("white_triangle.png");
	background-position: top right;
	background-repeat: no-repeat;
	color: #d67f2a;
	font-size: 13px;
	padding: 6px 32px 6px 10px;
	margin-right: 8px;
}
#menu a[href="#what_is_betascape"]:hover, #menu a[href="#participants"]:hover, #menu a[href="#contact"]:hover {
	background-color: #e96f34;
	color: #b31b08;
}
#menu a[href="#schedule"]:hover, #menu a[href="#whats_new"]:hover {
	background-color: #bdd73c;
	color: #5c8927;
}
#menu a[href="#in_the_news"]:hover, #menu a[href="#email"]:hover {
	background-color: #57b7df;
	color: #05638a;
}

#map {
	padding: 9px;
	border: solid 1px #e1e1e1;
}
#map, #map + br + a {
	margin-left: 30px;
}
#participant_logos {
	width: 930px;
	margin-left: 15px;
	text-align: center;
}
#participant_logos img {
	padding: 15px;
	vertical-align: middle;
}
img[src="mp3car.png"], img[src="innovate_baltimore.jpg"] {
	margin-left: 30px;
	vertical-align: top;
}
#mp3 {
	margin-left: 30px;
}
#external_links_container {
	width: 260px;
	height: 1000px;
	border-left: solid 1px #e1e1e1;
	float: right;
	position: relative;
	margin: 0px 0px 0px 30px;
}
.social_media_links {
	margin-bottom: 15px;
}
.social_media_links a {
	color: #008ab3;
	font-size: 18px;
}
.social_media_links br+a {
	color: #57b7df;
	font-size: 14px;
}
.social_media_links:hover a {
	color: #FCBA63;
}
.social_media_links img {
	margin: 0px 10px;
	float: left;
}
#tweets, iframe, img[src="artscape.png"] {
	margin: 15px 0px 15px 10px;
}
#tweets p, #tweets a {
	font-size: 12px;
	margin: 0px;
	line-height: 16px;
}
.day p {
	margin: 0px 30px 15px 60px;
}
input[type="text"], textarea {
	width: 400px;
	padding-left: 10px;
	margin: 0px 0px 30px 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 20px;
	color: #444;
		}
input[type="text"] {
	height: 36px;
}
textarea {
	height: 100px;
}
input[type="submit"] {
	color: #D67F2A;
	background-color: #FCBA63;
	font-size: 20px;
	border: none;
	padding: 8px 20px;
	margin-left: 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
input[type="submit"]:hover {
	color: #FCBA63;
	background-color: #D67F2A;
	cursor: hand;
	cursor: pointer;
}
#bottom_row {
	text-align: center;
}
#copyright {
	float: right;
}
#smartlogic {
	vertical-align: middle;
	margin-top: -8px;
}
	