@charset "UTF-8";
/* CSS Document */

body {
	background-color: #57b7df;
	background-image: url("tile.png");
}
p, a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 26px;
}
p {
	color: #444;
	margin: 20px 30px;
}
a {
	color: #57b7df;
	margin: 20px 0px;
	text-decoration: none;
}
a:hover {
	color: #FCBA63;
}
@font-face {
	font-family: chunk;
	src: url("Chunkfive.otf");
}
h1 {
	background-image: url("betascape-logo.png");
	background-repeat: no-repeat;
	width: 905px;
	height: 165px;
	margin: 0px auto;
	text-indent: -9999px;
}
h2 {
	color: #D67F2A;
	font-family: chunk, arial, helvetica, sans-serif;
	font-size: 22px;
	letter-spacing: .1em;
	background-color: #FCBA63;
	background-image: url("h2_points.png");
	background-position: right;
	background-repeat: no-repeat;
	width: 745px;
	padding: 10px 0px 8px 55px;
	margin: 20px 0px 20px -40px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
	margin-left: 30px;
	color: #444;
}
hr {
	margin-top: 30px;
	border: solid 1px #e1e1e1;
}
h2 + img {
	margin: -20px 0px 0px -40px;
	float: left;
}
#main_container {
	/*background-image: url("a-little-shadow.png");
	background-position: 41% 50%;
	background-repeat: repeat-y; */
}
#content {
	width: 960px;
	margin: 0px auto;
	padding: 20px 0px 5px 0px;
	background-color: #fff;
	-moz-box-shadow: 0 0 60px #333;
	-webkit-box-shadow: 0 0 60px #333;
	box-shadow: 0 0 60px #333;
}
#menu {
	margin: 30px;
}
#menu a {
	background-color: #FCBA63;
	color: #D67F2A;
	padding: 10px 20px;
	margin-right: 20px;
}
#menu a:hover {
	background-color: #D67F2A;
	color: #FCBA63;
}
#external_links_container {
	width: 160px;
	height: 1000px;
	border-left: solid 1px #e1e1e1;
	float: right;
	position: relative;
	text-align: center;
	margin: 20px 0px 0px 30px;
}
#external_links_container img {
	margin-bottom: 30px;
}
.event + p {
	margin-bottom: 45px;
}
input[type="text"], textarea {
	width: 400px;
	padding-left: 10px;
	margin: 0px 0px 30px 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 20px;
	color: #444;
		}
input[type="text"] {
	height: 36px;
}
textarea {
	height: 100px;
}
input[type="submit"] {
	color: #D67F2A;
	background-color: #FCBA63;
	font-size: 20px;
	border: none;
	padding: 8px 20px;
	margin-left: 30px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
input[type="submit"]:hover {
	color: #FCBA63;
	background-color: #D67F2A;
	cursor: hand;
	cursor: pointer;
}
#bottom_row {
	text-align: center;
}
#copyright {
	float: right;
}
#smartlogic {
	vertical-align: middle;
	margin-top: -8px;
}
	